<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Sitemap generator</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Sitemap generator</h1>
    <div class='content'>
      <input type='text' id='url' value='http://'>
      <button id='start'>Get sitemap.xml</button>
      <div id='errors'></div>
      <div id='result'></div>
      <div id='warnings'></div>
    </div>
  <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>